#settings-sec {
    margin: 0 auto;
    grid-area: main;
    overflow-y: auto;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.settings-div {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 150px;
}

.settings-div-bg {
    padding: 35px 40px;
    background-color: #fff;
    box-shadow: 11px 12px 55px -34px rgba(0, 0, 0, 0.4);
    border-radius: 36px;
    -webkit-border-radius: 36px;
    -moz-border-radius: 36px;
    -ms-border-radius: 36px;
    -o-border-radius: 36px;
}

/* ======================================================================= */
.react-tabs__tab-list {
    width: 130%;
    border-bottom: none !important;
}

.react-tabs__tab {
    font-family: 'League Spartan Medium' !important;
    color: #7A4B9D !important;
    font-size: 1.3rem !important;
    margin-right: 40px !important;
    border: none !important;
    border-bottom: none !important;
}

.react-tabs__tab--selected {
    border: none !important;
    border-radius: 12px !important;
    background: #7A4B9D !important;
    color: #fff !important;
    padding: 6px 21px !important;
    cursor: pointer;
    -webkit-border-radius: 12px !important;
    -moz-border-radius: 12px !important;
    -ms-border-radius: 12px !important;
    -o-border-radius: 12px !important;
}

/* ======================================================================= */

.settings--table {
    padding: 10px 13px;
}

.reset-btn {
    font-family: 'League Spartan Medium';
    font-size: 1.2rem;
    background-color: #C31131;
    color: #fff;
    border-radius: 20px;
    padding: 5px 30px;
}

.save-btn {
    font-family: 'League Spartan Medium';
    font-size: 1.2rem;
    float: right;
    background-color: #7A4B9D;
    color: #fff;
    border-radius: 20px;
    padding: 5px 30px;
}

.btn-verigo{
    background-color: #7A4B9D;
    color: #fff;
}

.reset-btn:hover,
.save-btn:hover {
    color: #fff;
}

.coverage-input {
    border: 0.1px solid #000;
    padding-top: 5px;
    padding-bottom: 5px;
}

.coverage-input:focus {
    border: 0.1px solid #000;
}

.th-width-csettings {
    width: 43%;
}

.cs-input {
    border: 0.1px solid #000;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 47%;
}

.cs-input:focus {
    border: 0.1px solid #000;
}

.edit-btn, .edit-btn:hover {
    width: 100%;
    font-family: 'League Spartan Medium';
    font-weight: 500;
    background: #7A4B9D;
    color: #fff;
    font-size: 0.9rem;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
}

.btn-verigo, .btn-verigo:hover {
    color: #fff;
    font-weight: 900;
    margin-bottom: 13px;
}

.remove-btn, .remove-btn:hover {
    margin-right: 20px;
    margin-bottom: 5px;
    width: 100%;
}

.close-btn {
    margin-bottom: 3px;
}

.plus-ico, .edit-ico, .save-ico, .trash-ico {
    font-size: 0.8rem;
    color: #fff;
}


@media (max-width: 830px) {
    .settings-div {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 50px;
    }

    .th-width-csettings {
        width: 60%;
    }

    .cs-input {
        width: 80%;
    }
}

@media (max-width: 715px) {
    .react-tabs__tab-list {
        width: 100%;
    }

    .th-width-csettings {
        width: 60%;
    }

    .cs-input {
        width: 100%;
    }

    .settings-div-bg {
        padding: 35px 25px;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    }
}

@media (max-width: 600px) {
    .settings-div {
        padding-left: 10px;
        padding-right: 10px;
    }

    .th-width-csettings {
        width: 70%;
    }

    .settings-div-bg {
        padding: 35px 20px;
        border-radius: 16px;
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        -ms-border-radius: 16px;
        -o-border-radius: 16px;
    }
}

@media (max-width: 500px) {
    .settings-div {
        padding-left: 7px;
        padding-right: 7px;
    }

    .settings-div-bg {
        padding: 35px 10px;
    }
}